{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
	
    {% block messagecontact %}

<div class="container text-center flex bg-info border-0  list-inline ">
 <div class="col flex text-center text-white p-2"> {{ form(form) }}<br> </div>
 
</div>
 
{% endblock %}




 



